body {
    background: url("https://i.imgur.com/FChGk4z.jpg");
    background-size: cover;
}
.arena {
    text-align: center;
    font-size: 80px;
    margin-top: 10px;
}

.row {
    margin-top: 250px;
}
.name {
    text-align: center;
}
.vie {
    text-align: center;
}
.title {
    text-align: center;
    font-size: 80px;
    margin-top: 30px;
}
.btn {
    margin-left: 50px;
    margin-bottom: 15px;
}

.infoMessage {
    text-align: center;
}.infoMessage {
    text-align: center;
}