.text{
    font-size: 40px;
    background-color: rgba(177,182,191, 0.7);
    border-radius:1rem;
    margin-top:550px;
    text-align: center;
}
body{
    background-image: url(https://i.imgur.com/RI1N4ep.jpg?2);
    background-size:120%;
}
.btn{
    margin-left: 45%;
}