.text {
    font-size: 40px;
    background-color: rgba(177, 182, 191, 0.7);
    border-radius: 1rem;
    margin-top: 300px;
    text-align: center;
}

body{
    background-image: url(https://i.imgur.com/RZYLgFX.jpg);
    background-size:100%;
    background-repeat:no-repeat;
}
h1{
    font-size: 300px;
    font-family: 'VT323';
    text-align:center;
}
.btn {
    margin-left: 40%;
    margin-bottom: 10px;
}